# Dependencies
src/node_modules/
src/honeypot-node1/node_modules/
src/honeypot-node2/node_modules
src/tests/node_modules
src/mongo-data/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.tar